<header>
  <div class="header-container container">
    <div class="logo"><a href="/">Yun's Board</a></div>

    <div class="search">
      <input class="search-input" type="text" placeholder="검색어를 입력하세요." />
      <button class="search-btn">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </div>
</header>
