<nav class="side-menu float-l">
  <div class="left-top">
    <button id="navSwitch" class="nav-switch">
      <a href="#">
        <span class="nav-icon">
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </a>
    </button>
    <ul>
      <li class="nav-home active">
        <a href="/">
          <span class="nav-icon">
            <i class="fa-solid fa-house"></i>
          </span>
          <span class="nav-menu-name"> HOME </span>
        </a>
      </li>
      <li class="nav-alert">
        <a href="/write">
          <span class="nav-icon">
            <i class="fa-solid fa-file-pen"></i>
          </span>
          <span class="nav-menu-name"> 글 작성하기 </span>
        </a>
      </li>
      <li class="nav-nei">
        <a href="#">
          <span class="nav-icon">
            <i class="fa-solid fa-location-dot"></i>
          </span>
          <span class="nav-menu-name"> 이웃 </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="nav-icon">
            <i class="fa-solid fa-fire"></i>
          </span>
          <span class="nav-menu-name"> 인기글 </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="left-bottom">
    <button>
      <i class="fa-solid fa-user"></i>
    </button>
  </div>
</nav>
