.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"),
    url("//fastly.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}
@font-face {
  font-family: "LOTTERIACHAB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/LOTTERIACHAB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --logo-font-family: "LOTTERIACHAB";
  --text-color: #333;
  --white-color: #f8f8f8;
  --main-color: rgb(116, 161, 230);
  --active-color: rgb(212, 225, 246);
  --hover-color: rgb(221, 233, 250);
  --menu-line: 1px solid var(--hover-color);
  --outline: 1px solid var(--main-color);
}

/* RESET CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "NanumBarunGothic";
}
a {
  text-decoration: none;
  display: block;
  color: inherit;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  width: 100%;
  max-width: 100%;
}
table {
  width: 100%;
  border-collapse: collapse;
}
textarea {
  resize: none;
}
body {
  background-color: var(--white-color);
}

.float-l {
  float: left;
}
.float-r {
  float: right;
}
.clear-both::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}
.container {
  width: 100%;
  max-width: 1300px;
  margin: auto;
}
.menu-btn {
  border: 1px solid var(--hover-color);
  padding: 7px 15px;
  color: #757575;
  font-weight: 700;
  border-radius: 30px;
  background-color: var(--white-color);
  font-size: 1rem;
}
.menu-btn:hover {
  background-color: var(--hover-color);
  transition: 0.3s;
}

/* WRAP */
.wrap {
  width: 100%;
}

/* HEADER */
header {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  background-color: var(--white-color);
  border-bottom: var(--menu-line);
}
.header-container {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* HEADER > LOGO */
.header-container .logo {
  width: 200px;
  font-size: 1.7rem;
  text-align: left;
  overflow: hidden;
}
.header-container .logo a {
  font-family: var(--logo-font-family);
}
/* HEADER > SEARCH */
.header-container .search {
  width: calc(100% - 200px);
  max-width: 300px;
  height: inherit;
  position: relative;
}
.header-container .search .search-input {
  width: 100%;
  height: calc(100% - 20px);
  margin-top: 10px;
  border-radius: 20px;
  padding: 0 15px;
  font-size: 1rem;
  border: 1px solid #ccc;
  background-color: var(--white-color);
}
.header-container .search .search-input:focus {
  outline: var(--outline);
}
.header-container .search .search-btn {
  background-color: var(--white-color);
  width: 40px;
  height: 30px;
  border: none;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 3;
}
.header-container .search .search-btn i {
  font-size: 1.1rem;
  color: var(--main-color);
}

@media screen and (max-width: 600px) {
  .header-container .search .search-input {
    display: none;
  }
}

/* MAIN SECTION */
.main-section {
  /* margin-top: 20px; */
}

/* SIDE MENU */
.side-menu {
  width: 70px;
  height: calc(100vh - 60px);
  position: sticky;
  top: 60px;
  padding-top: 10px;
  border-right: var(--menu-line);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.side-menu .nav-switch {
  width: 100%;
  text-align: right;
  padding-right: 23px;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  margin: 10px 0;
}
.side-menu ul li {
  width: 100%;
  height: 45px;
  text-align: left;
  padding: 8px 0 8px 16px;
  margin-bottom: 10px;
  overflow: hidden;
}
.side-menu ul li.active {
  background-color: var(--active-color);
}
.side-menu ul li.active * {
  color: var(--main-color);
  font-weight: bold;
}
.side-menu ul li:hover {
  background-color: var(--hover-color);
  transition: 0.3s;
}
.side-menu ul li .nav-icon {
  display: inline-block;
  width: 40px;
  text-align: center;
  margin-right: 10px;
}
.side-menu ul li .nav-menu-name {
  display: none;
  font-size: 1rem;
}
.side-menu ul li i {
  font-size: 1.5rem;
}
.left-bottom {
  width: 100%;
  text-align: center;
}
.left-bottom button {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  border-radius: 50%;
  border: none;
  background-color: var(--active-color);
  color: var(--main-color);
}

/* MAIN */
main {
  padding: 20px;
  padding-right: 0;
  width: calc(100% - 70px);
}
.main-top {
  border-bottom: var(--menu-line);
  margin-bottom: 20px;
}
.main-top .main-title {
  font-size: 1.3rem;
  margin-bottom: 20px;
}
.main-top .main-btn {
  margin-bottom: 10px;
}
.main-top .main-btn button.active {
  background-color: var(--active-color);
  color: var(--main-color);
}

/* MAIN-CONTENT */
.main-content {
}

/* POST */
.post-container {
  width: 100%;
  height: 100px;
  overflow: hidden;
  border-bottom: 1px solid #bbb;
  padding: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.post-container .post-content {
  width: calc(100% - 100px);
}
.post-container .post-img {
  width: 100px;
  height: 100%;
  vertical-align: middle;
  border-radius: 10px;
  overflow: hidden;
}
.post-container .post-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.post-content {
  margin-right: 10px;
}
.post-content * {
  color: #727272;
}
.post-content .post-title {
  font-size: 1.2rem;
}
.post-content .post-title:hover {
  text-decoration: underline;
}
.post-content .post-text {
  font-size: 1rem;
  margin: 5px 0;
  /* 말줄임 */
  display: -webkit-box;
  max-width: 100%;
  max-height: 50px;
  white-space: normal;
  overflow: hidden;
  -webkit-line-clamp: 2; /* 보여줄 줄의 수를 정함 */
  -webkit-box-orient: vertical;
}
.post-content .post-date {
  font-size: 0.9rem;
}

/* 글 작성 페이지 */
.write-frm {
  width: 100%;
  margin: auto;
}
.form-label {
  display: block;
  width: 100px;
  height: 45px;
  text-align: center;
  padding-top: 10px;
}
.form-table td {
  position: relative;
  padding: 10px 0;
}
.form-content,
.form-title-input {
  width: 100%;
  display: block;
  padding: 15px;
  border: 1px solid #aaa;
  border-radius: 10px;
  font-size: 1rem;
}
.form-content {
  width: 100%;
  height: 300px;
}
.form-content:focus,
.form-title-input:focus {
  outline: var(--outline);
}
.form-btn {
  text-align: right;
  margin: 10px 0;
}
.form-btn .submit-btn {
  background-color: var(--main-color);
  border: none;
  font-weight: normal;
  color: var(--white-color);
}
.form-btn .submit-btn:hover {
  background-color: var(--hover-color);
}
.form-table td .alert {
  display: block;
  position: absolute;
  top: 25px;
  right: 10px;
  color: rgb(206, 103, 103);
  text-decoration: underline;

  display: none;
}

/* 게시글 페이지 */
.post {
  padding: 10px;
}
.post-top {
  width: 100%;
  height: 60px;
  text-align: center;
  border-bottom: var(--menu-line);
  margin-bottom: 20px;
}
.post-top .post-title {
  font-size: 1.5rem;
}
.post-top .post-date {
  text-align: right;
  color: #aaa;
  font-size: 0.9rem;
}

.post-bottom {
  width: 100%;
  border-bottom: 1px solid var(--hover-color);
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.post-bottom .post-content {
  width: 100%;
  min-height: 300px;
}
.post-bottom .post-btn {
  text-align: right;
}
.post-btn button {
  background-color: transparent;
  border: none;
  padding: 10px;
  margin-left: 10px;
}
.post-bottom .post-btn button i {
  font-size: 1.3rem;
}

.comment-container {
  width: 100%;
}
.comment-container form {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  border: var(--menu-line);
}
.comment-container form #addComment {
  width: calc(100% - 100px);
  height: 100%;
  border: none;
  padding: 15px;
  font-size: 1rem;
  outline: none;
}
.comment-container form button {
  width: 100px;
  font-size: 1rem;
  border-radius: 0;
  background-color: var(--hover-color);
}
.comment {
  width: 100%;
  background-color: var(--white-color);
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.comment .comment-l {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: skyblue;
}
.comment .comment-r {
  width: calc(100% - 80px);
  padding-left: 20px;
}
.comment .comment-r .comment-user {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.comment .comment-r .comment-content {
  width: 100%;
  min-height: 50px;
}
.comment .comment-r .comment-date {
  font-size: 0.85rem;
  color: #767676;
}
.change-comment {
  background-color: transparent;
  border: none;
  margin-left: 10px;
}
.change-comment i {
  color: #767676;
}
.change-comment:hover i {
  color: var(--main-color);
}
